html, body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

html{
    min-height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 80%, rgba(131,0,0,1) 100%);
    background-size: cover;
}

p{
    margin: auto 0;
}
body{
    position: relative;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8B0000;
}
#topAnc{
    position: absolute;
    top: 0;
    left: 0;
}
/* .header{
    position: fixed;
    margin: 0px;
    width: 100%;
    padding: 10px;
    font-size: 30px;
    text-align: center; */
    /* color: white; */
    /* background-color: black;
    font-family: 'Libre Barcode 39 Text', cursive;
    z-index: 1; Stay on top */
    /* top: 0; Stay at the top */
/* } */
div.header a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
div.header a:visited {
    color: white;
}
div.header a:hover{
    color: #8B0000;
    text-decoration: line-through black;
}

.wrapper{
    margin: 0px;
    height: 100%;
    width: 100%;
}

.intro{
    /* background-color: black; */
    position: absolute;
    color: white;
    position: relative;
    height: 100vh;
    width: 100vw;
    font-family: 'Oswald', sans-serif;
}
/* .parallax{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    /* Move the pseudo-element back away from the camera,
    * then scale it back up to fill the viewport.
    * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; */
/* } */
/* #para1{ */
    /* background-image: url("images/placeholderBuilding.png"); */
    /* background-color: black;
    transform: translateZ(-1px) scale(1.5); */
    /* Force the background image to fill the whole element. */
    /* background-size: cover; */
    /* Keep the image from overlapping sibling elements. */
    /* z-index: -1; */
/* } */

/* .rain {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.rain.back-row {
  bottom: 60px;
}
.drop {
  position: absolute;
  bottom: 100%;
  width: 15px;
  height: 120px;
  pointer-events: none;
  animation: drop 0.5s linear infinite;
}
@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  75% {
    transform: translateY(90vh);
  }
  100% {
    transform: translateY(100vh);
  }
} */
.stem {
  width: 8px;
  height: 60%;
  margin-left: 7px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
  animation: stem 0.5s linear infinite;
}

@keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: .8;
  }
  100% {
    opacity: 1;
  }
}

#name1{
    text-align: left;
    padding-left: 5vw;
    padding-top: 10vh;
    margin-bottom: 5px;
    font-size: 8vmax;
}
#name2{
    text-align: left;
    margin-top: 5px;
    padding-left: 12vw;
    font-size: 8vmax;
    margin-bottom: 5px;
}
#nameSub{
    margin-left: 30px;
    text-align: left;
    padding-left: 3vw;
    font-size: 5vmax;
    color: white;
    display: flex;
}


.SectionTitle{
    color:white;
    background-color: transparent;
    font-size: 100px;
    height: 40px;
    padding-left: 10vw;
    margin-bottom: 150px;
    font-family: 'Oswald', sans-serif;
}
.projectsContainer{
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: green; 
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30vh;
    padding-bottom: 30vh;
    /* overflow: hidden; */
    justify-content: left;
}
/* .projectsContainer > div {
    background-color: green;
    width: 30vw;
    height: 55vh;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
    position: relative;
} */
/* div.projectsContainer a:link{
    background-color: green;
    color: white;
    width: 100%;
    height: 55vh;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* position: relative; */
/* } */ 

.startLeft{
    transform: translateX(-100%);
}


.startRight{
    transform: translateX(100%);
}

.slideIn{
    animation: slide-in .75s forwards;
}


@keyframes slide-in {
    100% { transform: translateX(0%); }
}

.projectButton{

}

.colorOverlay{
    width: 100vw;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    color: white;
}
#videoBG{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

#projectTitle{
    padding-top: 90vh;
    font-size: 4vmax;
    font-family: 'Oswald', sans-serif;
}
#projectDescription{
    /* position: absolute; */
    bottom: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 2vmax;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    max-width: 50%;
}
.tooltip{
    bottom: 0;
    color:white;
    text-decoration: none;
    font-family: Helvetica;
}
a:link{
    text-decoration: none;
}
a:link .tooltip{
    visibility: hidden;
    color: white;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
a:link:hover .tooltip{
    visibility: visible;
}
a:link:visited{
    color: white;
}

.topContainer{
    position: relative;
    height: 100vh;
    width: 100%;
    /* background-color: black; */
    color: white;
}
.bio{
    /* background-color: rgba(96, 185, 240, 0.8); */
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 29%, rgba(0,212,255,1) 100%);
    float: left;
    margin-left: 15vw;
    height: 60vh;
    width: 30vw;
    margin-top: 15vh;
    margin-bottom: 5vh;
    padding-top: 75px;
    padding-left: 50px;
    padding-right: 50px;
}
.myPic{
    background-color: white;
    float: left;
    height: 60vh;
    width: 30vw;
    margin-top: 15vh;
    margin-bottom: 5vh;
    padding-top: 75px;
    padding-left: 50px;
    padding-right: 50px;
}
.bio{
    font-size: 25px;
    padding-left: 80px;
    font-family: 'Oswald', sans-serif;
    line-height: 200%;
}
#email{
    font-size: 60px;
    color: white;
    font-family: 'VT323', monospace;
}
#email:link:hover {
    background-color: red;
}
#bioLink{
    color: white;
    text-decoration: underline;
}
.fa{
    padding: 20px;
    margin-left: 10px;
    margin-right: 2vmin;
    margin-top: 2vmin;
    font-size: 0px;
    
    width: 5vmin;
    height: 5vmin;
    text-align: top;
    text-decoration: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.fa:hover{
    opacity: 0.7;
}
.fa-Linkedin{
    background-image: url("./images/linkedinWhite.png");
}
.fa-x{
    background-image: url("./images/x-social-media-white-icon.webp");
    margin-right: 7vmin;
}
.headercontact{
    display: inline-flex;
    margin-left: 70px;
}


/* #biolink:hover {
    color:red;
} */
